.about-product {
  max-width: 442px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;

  @include screen-m {
    align-self: center;
    max-width: 100%;
  }

  &__title {
    margin-bottom: 43px;
    font-size: 40px;
    line-height: 52px;
  }

  &__reviews {
    margin-bottom: 27px;
  }

  &__price {
    margin: 21px 0 28px;
  }
}
