.blog-content {
  position: absolute;
  left: 50%;
  top: 440px;
  display: flex;

  text-align: start;
  transform: translate(-50%);

  &__blog-content-item {
    margin-right: 12px;

    @include screen-s {
      margin-right: 8px;
    }
  }

  @include screen-m {
    top: 60%;
    right: 0;
    left: 10%;
    transform: translate(0);
  }
}
