.blog-content-item {
  max-width: 427px;
  font-size: 18px;
  line-height: 29px;
  color: $c-black;

  @include screen-m {
    max-width: 295px;
  }

  &__image {
    position: relative;
    display: block;
    margin-bottom: 22px;

    &::after {
      position: absolute;
      left: 0;
      top: 0;
      display: none;

      content: '';
      width: 100%;
      height: 100%;
      background: no-repeat url('images/mask.png');
    }

    &:hover {
      cursor: pointer;

      &::after {
        display: block;
      }
    }
  }
}
