.form {
  font-size: 16px;

  &__input {
    width: 315px;
    padding: 23px 22px;
    
    border: 1px solid $c-black;
    background-color: transparent;

    &:focus {
      border: 1px solid rgb(238, 102, 192);
    }
  }

  &__submit {
    width: 200px;
    margin-left: -5px;
    padding: 23px 62px;

    border: 1px solid $c-black;
    color: $c-white;
    background-color: $c-black;

    &:hover {
      background-color: rgb(51, 49, 49);
    }
  }
}
