.header-text {
  width: 530px;
  padding-top: 12.5%;
  text-align: center;

  &__title {
    font-size: 36px;
    line-height: 49px;
  }

  &__text {
    width: 388px;
    margin: 0 auto 35px;
    font-weight: 400;
    line-height: 30px;
  }
}
