.header-text {
  width: 530px;
  padding-top: 180px;
  text-align: center;

  &__title {
    font-size: 36px;
    line-height: 49px;
  }

  &__text {
    width: 388px;
    margin: 0 auto 35px;
    font-weight: 400;
    line-height: 30px;
  }

  &__button {
    padding: 23px 0;
    width: 316px;
    height: 70px;

    font-size: 16px;
    font-weight: 400;
    color: $c-white;
    background-color: $c-black;
    cursor: pointer;

    &:hover {
      background-color: rgb(51, 49, 49);
      border: 2px solid rgb(247, 170, 230);
    }
  }
}
