.icons {
  display: flex;
  align-items: baseline;

  &__search {
    display: none;

    &:hover {
      cursor: pointer;
    }

    @include screen-m {
      display: block;
      margin-right: 22.5px;
    }
  }
}
