.image {
  position: relative;
  width: max-content;
  transition: transform 0.35s ease-in;

  &__content {
    @extend %center-absolute;
    top: 50%;
    bottom: 50%;
  }

  &:hover {
    cursor: pointer;
    transform: scaleX(-1);
  }
}
