.info-text {
  width: 428px;
  font-size: 22px;
  line-height: 37.5px;
  text-align: center;
  color: $c-white;

  @include screen-m {
    min-width: 335px;
    font-size: 16px;
  }

  @include screen-s {
    font-size: 16px;
  }
}
