.instagram-gallery {
  display: flex;
  justify-content: center;

  @include screen-s {
    justify-content: start;
   }

  &__image {
    margin-right: 8px;

    @include screen-s {
      width: 105px;
      height: 106px;
     }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
