.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 9.5%;
  
  background: no-repeat url('images/subscribe-bc.png');
  background-size: cover;
  background-position: center;
}
