.testimonials-item {
  min-width: 650px;

  @include screen-s {
    min-width: 335px;
  }

  &__title {
    margin-bottom: 21px;
    font-size: 22px;
    font-weight: 500;
  }

  &__image {
    position: relative;
    margin-bottom: 10px;

    &::before {
      position: absolute;
      left: -100px;
      top: -40px;
      width: 48px;
      height: 32px;
      content: ' ';
      background: no-repeat url('images/testLeft.png') 50%;

      &:hover {
        cursor: pointer;
      }
    }

    &::after {
      position: absolute;
      right: -100px;
      top: -40px;
      width: 48px;
      height: 32px;
      content: ' ';
      background: no-repeat url('images/testRight.png') 50%;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 30.5px;

    @include screen-s {
      font-size: 14px;
    }
  }
}
