%text-main {
  font-family: $main-font;
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
}

%header-bc-color {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  background: linear-gradient(101.72deg, 
  rgba(250, 178, 152, 0.48),
  rgba(244, 222, 214, 1),
  rgba(248, 234, 229, 1),
  rgba(255, 255, 255, 0)
  101.84%);
  opacity: 0.2;
  z-index: -1;
} 
