%text-main {
  font-family: $main-font;
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
}

%header-bc-color {
  background: linear-gradient(101.72deg, rgba(250, 178, 152, 0.48) 4.77%, #f4ded6 28.36%, #f8eae5 88.9%, rgba(255, 255, 255, 0) 101.84%);
  content: ' ';
  height: 100%;
  left: 0;
  opacity: 0.2;
  
  transform: matrix(-1, 0, 0, 1, 0, 0);
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
} 

%center-absolute {
  left: 50%;
  position: absolute;
  right: 50%;
  transform: translate(-50%, -50%);
}
